@font-face {
  font-family: "Vazirmatn";
  src: url("/public/fonts/Vazirmatn[wght].woff2") format("woff2"),
    url("/public/fonts/Vazirmatn-Black.ttf") format("ttf");
  font-weight: 100 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f1f1f1;
  font-family: "Vazirmatn";
  scrollbar-width: thin;
  scrollbar-color: #3f0f9f #f1f1f1;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
